.bundle
db/*.sqlite3
log/*.log
tmp/
*.DS_Store
.rvmrc
.idea
config/database.yml
.livereload
public/assets/*
public/system/**/*
coverage
coverage/*.html
*.dump
doc/app/
xcuserdata
!xcshareddata
Example/SGHTTPRequest.xcworkspace/xcuserdata/*/UserInterfaceState.xcuserstate
*.xccheckout
Pods
LocalPods
*.xcworkspace
build/
fastlane-temp/
fastlane/*.png
fastlane/README.md
fastlane/report.xml
fastlane/metadata/
fastlane/screenshots/
vendor/
Build-Info.plist
Snapshots/FailureDiffs/*
Snapshots/FailureDiffs/**/*.png
Example/Pods/*